In [1]:
import os
os.chdir(os.getcwd() + '/..')

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from iss.data.DataBaseManager import DataBaseManager

In [4]:
!pip install MySQL-connector-python

Collecting MySQL-connector-python
  Downloading https://files.pythonhosted.org/packages/f7/59/c2220c52d747da492f2aed108cdf99b640b88cf89dbbe2ea13a8c04201aa/mysql_connector_python-8.0.18-cp36-cp36m-manylinux1_x86_64.whl (16.1MB)
    100% |████████████████████████████████| 16.1MB 4.1MB/s
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.6/site-packages (from MySQL-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.6/site-packages (from protobuf>=3.0.0->MySQL-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from protobuf>=3.0.0->MySQL-connector-python) (40.8.0)
Installing collected packages: MySQL-connector-python
Successfully installed MySQL-connector-python-8.0.18

In [5]:
import mysql.connector
from iss.tools.config import Config
import pandas as pd
import datetime as dt
import time
import numpy as np
from iss.data.DataBaseManager import DataBaseManager

In [6]:
cfg = Config()

TypeError: __init__() missing 2 required positional arguments: 'project_dir' and 'mode'

In [6]:
mydb = mysql.connector.connect(
    host = cfg.get('mysql')['database']['server'],
    user = cfg.get('mysql')['database']['user'],
    passwd = cfg.get('mysql')['database']['password'],
    database = cfg.get('mysql')['database']['name'],
    port = cfg.get('mysql')['database']['port']
)

In [7]:
history = pd.read_csv("./data/raw/history/history.txt", sep=";", names=['latitude', 'longitude', 'id', 'location'])

In [8]:
pd.to_datetime(history.id, format="%Y%m%d-%H%M%S").dt.strftime("%Y-%m-%d %H:%M:%S").head()

0    2018-05-13 15:40:01
1    2018-05-13 16:00:01
2    2018-05-13 17:20:01
3    2018-05-13 17:40:01
4    2018-05-13 18:40:01
Name: id, dtype: object

In [29]:
history['timestamp'] = pd.to_datetime(history.id, format="%Y%m%d-%H%M%S").dt.strftime("%Y-%m-%d %H:%M:%S")
history.fillna('NULL', inplace=True)

In [31]:
history = history[['latitude', 'longitude', 'id', 'timestamp', 'location']]
history_tuple = [tuple(x) for x in history.values]

In [32]:
history_tuple[3850:]

[('NULL', 'NULL', '20190228-180001', '2019-02-28 18:00:01', 'NULL'),
 ('NULL', 'NULL', '20190301-020001', '2019-03-01 02:00:01', 'NULL'),
 (-50.906848280632,
  -129.67152170575,
  '20190301-040001',
  '2019-03-01 04:00:01',
  'South Pacific Ocean'),
 (46.224697680948,
  38.508590038953,
  '20190301-080001',
  '2019-03-01 08:00:01',
  'Russia'),
 (48.272215894114,
  -115.83481468293002,
  '20190301-140001',
  '2019-03-01 14:00:01',
  'United States'),
 (1.6470165175667,
  -29.550114288583003,
  '20190301-160001',
  '2019-03-01 16:00:01',
  'North Atlantic Ocean'),
 (32.938297820693,
  -150.40851274645001,
  '20190301-220001',
  '2019-03-01 22:00:01',
  'North Pacific Ocean'),
 (-44.190661647858,
  -100.34112806661,
  '20190302-000001',
  '2019-03-02 00:00:01',
  'South Pacific Ocean'),
 (-16.432920558626,
  131.67746802656,
  '20190302-060001',
  '2019-03-02 06:00:01',
  'Australia'),
 (15.985374697618001,
  13.727633100791,
  '20190302-120001',
  '2019-03-02 12:00:01',
  'Niger'),
 (-33.152964317853,
  -64.290916318981,
  '20190302-200001',
  '2019-03-02 20:00:01',
  'Argentina'),
 (-1.9700946508908002,
  174.83004739548,
  '20190303-020001',
  '2019-03-03 02:00:01',
  'South Pacific Ocean'),
 (30.034749186781003,
  54.744294350939995,
  '20190303-080001',
  '2019-03-03 08:00:01',
  'Iran'),
 (-46.295462250407,
  106.72882908036999,
  '20190303-100001',
  '2019-03-03 10:00:01',
  'Indian Ocean'),
 (50.937467506234,
  -85.532585394465,
  '20190303-140001',
  '2019-03-03 14:00:01',
  'Canada'),
 (-19.534658922649,
  -23.957895905650002,
  '20190303-160001',
  '2019-03-03 16:00:01',
  'South Atlantic Ocean'),
 (12.864013306513,
  -142.02470134325,
  '20190303-220001',
  '2019-03-03 22:00:01',
  'North Pacific Ocean'),
 (-51.795754684285,
  -72.822090610609,
  '20190304-000001',
  '2019-03-04 00:00:01',
  'South Pacific Ocean'),
 (-35.859523196283,
  141.0150238206,
  '20190304-060001',
  '2019-03-04 06:00:01',
  'Australia'),
 (-5.2636362719691,
  19.004947687717,
  '20190304-120001',
  '2019-03-04 12:00:01',
  'Democratic Republic of the Congo')]

In [33]:
dbm = DataBaseManager(mydb, cfg)

In [34]:
dbm.createPicturesTable(force=True)

In [35]:
dbm.insertRowPictures(history_tuple)

3870